<p *ngIf="!animais.length" class="text-center text-muted">
  Desculpe, não há animais cadastrados
</p>
<div class="row">
  <div *ngFor="let animal of animais" class="col-4 card-animal">
    <a [routerLink]="['/animais', animal.id]"></a>
    <app-cartao>
      <app-animal [url]="animal.url" [descricao]="animal.description">
      </app-animal>
      <i class="fa fa-heart-o fa-1x mr-2" aria-hidden="true">{{
        animal.likes
      }}</i
      ><i class="fa fa-comment-o fa-1x mr-2" aria-hidden="true">
        {{ animal.comments }}
      </i>
    </app-cartao>
  </div>
</div>
