<h4 class="text-center">Registre-se Aqui</h4>
<form class="form mt-4">
  <div class="form-group">
    <input placeholder="E-mail" class="form-control">
  </div>
  <div class="form-group">
    <input placeholder="Nome Completo" class="form-control">
  </div>
  <div class="form-group">
    <input placeholder="Nome de Usuário" class="form-control">
  </div>
  <div class="form-group">
    <input placeholder="Senha" class="form-control" type="password">
  </div>

  <button class="btn btn-success btn-block col-12">Cadastrar</button>
</form>
<p>Já está cadastrado? <a [routerLink]="['']">Login!</a></p>
